@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon::before, .icon::after {
  /* removed font- based rules */
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.link-expanded::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.centered {
  margin: auto;
}

.flex-container {
  display: flex;
  gap: 20px;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 2px;
}
.badge--primary {
  color: #3c166a;
  background: #a16be0;
}
.badge--secondary {
  color: #c6008f;
  background: #ff93e1;
}
.badge--tertiary {
  color: #2c9c81;
  background: #ade8d9;
}
.badge--dark {
  color: black;
  background: #424243;
}

.btn {
  position: relative;
  border: none;
  min-width: 60%;
  border-radius: 3rem;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.52);
}
.btn--primary {
  background: linear-gradient(353deg, #9356DC 0%, #FF79DA 100%);
  color: #fff;
}
.btn:hover::before {
  opacity: 1;
}
.btn::before {
  border-radius: inherit;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(353deg, #a16be0 0%, #ff93e1 100%);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: -1;
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.4);
}

.btn-like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  position: relative;
}
.btn-like i {
  position: relative;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}
.btn-like i::before {
  opacity: 1;
  transition: inherit;
}
.btn-like i::after {
  font: var(--fa-font-solid);
  content: "\f004";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: inherit;
}
.btn-like i:hover::after {
  animation: bounce 400ms alternate both;
  opacity: 1;
}
.btn-like i:hover::before {
  opacity: 0;
}

.card {
  position: relative;
  margin: 0;
  border-radius: 1rem;
  background: #fdfdfe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.52);
}
.card__heading {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.card__subheading {
  font-size: 1rem;
}
.card__informations {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.card-restaurant .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-restaurant__illustration {
  height: 170px;
  width: 100%;
  overflow: hidden;
}
.card-restaurant__illustration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.card-restaurant .btn-like {
  width: 20%;
}
.card-meal {
  flex-wrap: nowrap;
  animation: appear 800ms both;
}
.card-meal:nth-child(0n) {
  animation-delay: 0ms;
}
.card-meal:nth-child(1n) {
  animation-delay: 100ms;
}
.card-meal:nth-child(2n) {
  animation-delay: 200ms;
}
.card-meal:nth-child(3n) {
  animation-delay: 300ms;
}
.card-meal:nth-child(4n) {
  animation-delay: 400ms;
}
.card-meal:nth-child(5n) {
  animation-delay: 500ms;
}
.card-meal:nth-child(6n) {
  animation-delay: 600ms;
}
.card-meal:nth-child(7n) {
  animation-delay: 700ms;
}
.card-meal:nth-child(8n) {
  animation-delay: 800ms;
}
.card-meal:nth-child(9n) {
  animation-delay: 900ms;
}
.card-meal:nth-child(10n) {
  animation-delay: 1000ms;
}
.card-meal:nth-child(11n) {
  animation-delay: 1100ms;
}
.card-meal:nth-child(12n) {
  animation-delay: 1200ms;
}
.card-meal:nth-child(13n) {
  animation-delay: 1300ms;
}
.card-meal:nth-child(14n) {
  animation-delay: 1400ms;
}
.card-meal:nth-child(15n) {
  animation-delay: 1500ms;
}
.card-meal:nth-child(16n) {
  animation-delay: 1600ms;
}
.card-meal:nth-child(17n) {
  animation-delay: 1700ms;
}
.card-meal:nth-child(18n) {
  animation-delay: 1800ms;
}
.card-meal:nth-child(19n) {
  animation-delay: 1900ms;
}
.card-meal:nth-child(20n) {
  animation-delay: 2000ms;
}
.card-meal:nth-child(21n) {
  animation-delay: 2100ms;
}
.card-meal:nth-child(22n) {
  animation-delay: 2200ms;
}
.card-meal:nth-child(23n) {
  animation-delay: 2300ms;
}
.card-meal:nth-child(24n) {
  animation-delay: 2400ms;
}
.card-meal:nth-child(25n) {
  animation-delay: 2500ms;
}
.card-meal:nth-child(26n) {
  animation-delay: 2600ms;
}
.card-meal:nth-child(27n) {
  animation-delay: 2700ms;
}
.card-meal:nth-child(28n) {
  animation-delay: 2800ms;
}
.card-meal:nth-child(29n) {
  animation-delay: 2900ms;
}
.card-meal:nth-child(30n) {
  animation-delay: 3000ms;
}
.card-meal:nth-child(31n) {
  animation-delay: 3100ms;
}
.card-meal:nth-child(32n) {
  animation-delay: 3200ms;
}
.card-meal:nth-child(33n) {
  animation-delay: 3300ms;
}
.card-meal:nth-child(34n) {
  animation-delay: 3400ms;
}
.card-meal:nth-child(35n) {
  animation-delay: 3500ms;
}
.card-meal:nth-child(36n) {
  animation-delay: 3600ms;
}
.card-meal:nth-child(37n) {
  animation-delay: 3700ms;
}
.card-meal:nth-child(38n) {
  animation-delay: 3800ms;
}
.card-meal:nth-child(39n) {
  animation-delay: 3900ms;
}
.card-meal:nth-child(40n) {
  animation-delay: 4000ms;
}
.card-meal:nth-child(41n) {
  animation-delay: 4100ms;
}
.card-meal:nth-child(42n) {
  animation-delay: 4200ms;
}
.card-meal:nth-child(43n) {
  animation-delay: 4300ms;
}
.card-meal:nth-child(44n) {
  animation-delay: 4400ms;
}
.card-meal:nth-child(45n) {
  animation-delay: 4500ms;
}
.card-meal:nth-child(46n) {
  animation-delay: 4600ms;
}
.card-meal:nth-child(47n) {
  animation-delay: 4700ms;
}
.card-meal:nth-child(48n) {
  animation-delay: 4800ms;
}
.card-meal:nth-child(49n) {
  animation-delay: 4900ms;
}
.card-meal:nth-child(50n) {
  animation-delay: 5000ms;
}
.card-meal .card__subheading, .card-meal .card__heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-meal__price {
  padding: 15px;
  align-self: flex-end;
}
.card-meal__btn-select {
  width: 19%;
  margin-right: -19%;
  font-size: 1.7rem;
  background: #99E2D0;
  border: none;
  color: #FFFFFF;
  transition: margin-right 700ms ease-in-out;
}
.card-meal:hover .card-meal__btn-select {
  margin-right: 0;
}
.card-meal:hover .card-meal__btn-select i {
  animation: rotate 700ms 300ms ease-in-out;
}

.instructions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  counter-reset: li;
  margin-left: 12px;
}
.instructions__element {
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 25px 15px;
  background: #e8e8e9;
  border-radius: 1.2rem;
  z-index: 1;
}
.instructions__element--primary::before {
  background: #9356DC;
}
.instructions__element--primary::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 200ms ease-in-out;
  background: #e4d5f6;
}
.instructions__element--primary:hover::after {
  opacity: 1;
}
.instructions__element--primary:hover .instructions__icon {
  color: #9356DC;
}
.instructions__element--secondary::before {
  background: #FF79DA;
}
.instructions__element--secondary::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 200ms ease-in-out;
  background: white;
}
.instructions__element--secondary:hover::after {
  opacity: 1;
}
.instructions__element--secondary:hover .instructions__icon {
  color: #FF79DA;
}
.instructions__element--tertiary::before {
  background: #99E2D0;
}
.instructions__element--tertiary::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 200ms ease-in-out;
  background: white;
}
.instructions__element--tertiary:hover::after {
  opacity: 1;
}
.instructions__element--tertiary:hover .instructions__icon {
  color: #99E2D0;
}
.instructions__element--dark::before {
  background: #353536;
}
.instructions__element--dark::after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 200ms ease-in-out;
  background: #818183;
}
.instructions__element--dark:hover::after {
  opacity: 1;
}
.instructions__element--dark:hover .instructions__icon {
  color: #353536;
}
.instructions__element::before {
  display: block;
  position: absolute;
  top: 35%;
  left: -12px;
  border-radius: 50%;
  content: counter(li);
  counter-increment: li;
  color: #FFFFFF;
  font-size: 0.7rem;
  line-height: 16px;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 4px;
}
.instructions__icon {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 1.2rem;
  transition: color 200ms ease-in-out;
}
.instructions__text {
  font-size: 1rem;
  font-weight: 500;
}

.header {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background: #fdfdfe;
  padding: 15px;
  justify-content: center;
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.52);
  /* Uniquement lorsque le header a la classe header--menu attachée */
}
.header__logo {
  margin-top: 5px;
}
.header__logo img {
  height: 1.6rem;
}
.header.header--menu .header__btn-back {
  display: flex;
}
.header .header__btn-back {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 100%;
  top: 0;
  left: 0;
  width: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #353536;
  color: #fdfdfe;
  padding: 0 20px 50px 20px;
}
.footer a {
  color: #fdfdfe;
}
.footer__logo {
  font-family: Shrikhand, Georgia, fantasy;
  font-size: 1.1rem;
  margin: 20px 0;
}
.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__element {
  display: flex;
  flex-direction: column;
}
.footer__element i {
  font-size: 0.7rem;
  width: 6%;
}

body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
  font-weight: 300;
  font-size: 18px;
}

address {
  font-style: normal;
}

.text-muted {
  color: #7E7E7E;
}

section {
  padding: 50px 20px;
}

.section-heading {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.localisation {
  font-weight: 500;
  padding: 15px;
  background: #e8e8e9;
  color: #353536;
}
.localisation address {
  position: relative;
  width: fit-content;
  margin: auto;
}
.localisation i {
  position: absolute;
  left: -25px;
}

.introduction {
  background: #f5f5f6;
}
.introduction .btn {
  margin: 25px;
}

.howto {
  background: #fdfdfe;
}
.howto .instructions {
  margin-top: 30px;
  margin-bottom: 15px;
}

.restaurants {
  background: #f5f5f6;
  display: flex;
  flex-direction: column;
}
.restaurants .flex-container {
  flex-direction: column;
}

.menu-header {
  width: 100%;
  height: 300px;
  background: #9356DC;
  position: sticky;
  top: 65px;
}
.menu-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  position: sticky;
  top: 0;
  background: #e8e8e9;
  padding-top: 35px;
  border-radius: 3rem 3rem 0 0;
}
.menu__heading {
  font-family: Shrikhand, Georgia, fantasy;
  font-size: 1.8rem;
}
.menu .btn-like {
  width: 15%;
}
.menu__category__heading {
  width: 100%;
  position: relative;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
}
.menu__category__heading::after {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 7px;
  border-bottom: 3px solid #99E2D0;
}
.menu button {
  margin-top: 25px;
}

/*# sourceMappingURL=main.css.map */
