.footer {
  display: flex;
  flex-direction: column;
  background: map-get($colors-map, dark, base);
  color: #fdfdfe;
  padding: 0 map-get($section-padding, side) map-get($section-padding, vertical) map-get($section-padding, side);

  a {
    color: #fdfdfe;
  }

  &__logo {
    font-family: Shrikhand, Georgia, fantasy;
    font-size: 1.1rem;
    margin: 20px 0;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include tablet-only {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__element {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    i {
      font-size: 0.7rem;
      width: 25px;
    }

    @include tablet-only {
      width: fit-content;
    }
  }

  @include tablet-only {
    align-items: center;
  }
}