.card {
  position: relative;
  margin: 0 auto;
  border-radius: 1rem;
  background: $bg-primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  max-width: 400px;

  @include box-shadow();

  &__heading {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  &__subheading {
    font-size: 1rem;
  }

  &__informations {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &-restaurant {
    @include animate-appear;
    @include tablet-only {
      width: 48%;
    }
    .badge {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &__illustration {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
      height: 170px;
      width: 100%;
      overflow: hidden;
    }
    .btn-like {
      width: 20%;
    }
  }

  &-meal {
    //Modification et animation de la zone "selectionné" du bout de card
    @mixin select-animation {
      margin-right: 0;
      i {
        animation: rotate 700ms 300ms ease-in-out;
      }
    }

    flex-wrap: nowrap;

    .card__subheading, .card__heading {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__price {
      padding: 15px;
      align-self: flex-end;
    }

    &__btn-select {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19%;
      margin-right: -19%;
      font-size: 1.7rem;
      background: map-get($colors-map, tertiary, base);
      border: none;
      color: #FFFFFF;
      transition: margin-right 700ms ease-in-out;
    }

    &__label {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &__input {
      width: 0;
      opacity: 0;

      &:checked ~ .card-meal__btn-select {
        @include select-animation;
      }
    }

    //Afficher au survol uniquement sur les appareils avec un curseur
    //Permet de régler le pb de comportement qui maintient le bouton lorsque uncheck sur
    //mobile et tablette
    @media (hover: hover) {
      &:hover {
        .card-meal__btn-select
        {
          @include select-animation;
        }
      }
    }
  }
}

