body {
  //margin: 12px;
  background: #f7f7f7;
  font-family: $text-font;
}

a {
  color: map-get($colors-map, dark, base);
  text-decoration: none;
}

p {
  font-weight: 300;
  font-size: 18px;
}

address {
  font-style: normal;
}

.text-muted {
  color: #7E7E7E;
}

section {
  padding: map-get($section-padding, vertical) map-get($section-padding, side);
}

.section-heading {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}