body {
  //margin: 12px;
  background: #f7f7f7;
  font-family: $text-font;
}

a {
  color: $link-color;
  text-decoration: none;
}

.link-expanded {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.text-muted {
  color: #7E7E7E;
}