html, body {
  //overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin-left: auto;
  margin-right: auto;
  background: $bg-tertiary;
  font-family: $text-font;
  @include tablet-only {
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.19);
  }
}

main {
  margin-top: 65px;

  @include desktop-only {
    margin-top: 0;
  }
}

a {
  color: map-get($colors-map, dark, base);
  text-decoration: none;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.text-muted {
  color: #7E7E7E;
}

section {
  padding: map-get($section-padding, vertical) map-get($section-padding, side);
}

.section-heading {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}