* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.icon {
  &::before, &::after {
    /* removed font- based rules */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}