$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-dark: #000000;

$link-color: #000000; // A SUPPRIMER

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  dark: #353536
);

$section-padding: (
  side: 20px,
  vertical: 50px
);

$bg-primary: #fdfdfe;
$bg-secondary: #e8e8e9;
$bg-tertiary: #f5f5f6;

$heading-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;


