$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-dark: #000000;

$link-color: #000000; // A SUPPRIMER

$colors: (
  primary: $color-primary,
  secondary: $color-secondary,
  tertiary: $color-tertiary,
  dark: #000000
);

$bg-primary: #FFFFFF;
$bg-secondary: #f5f5f6;
$bg-tertiary: #e8e8e9;

$heading-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;


